$light-ghost-white: #F8F8F2;
$ghost-white: #F8F8F0;
$very-light-gray: #c5c8c6;
$light-gray: #CCC;
$gray: #888;
$dark-gray: #282828;
$very-dark-gray: #1d1f21;
$brown-gray: #49483E;

$cyan: #8abeb7;
$red: #cc6666;
$yellow: #E6DB74;
$blue: #66D9EF;
$darkBlue: #0067ca;
$pink: #F92672;
$lightPink: #ff8ee4;
$purple: #AE81FF;
$brown: #75715E;
$orange: #FD971F;
$light-orange: #FFD569;
$green: #A6E22E;
$sea-green: #529B2F;
